/*
 adicionando as fontes usadas
*/


@font-face {
    font-family: Poiret One;
    src: url(../fontes/PoiretOne.ttf);
}
@font-face {
    font-family: Merienda;
    src: url(../fontes/Merienda.ttf);
}

.vh100 {
    background-color: #161412;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    letter-spacing: -1px;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.menu {
    font-family: Segoe UI;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    color: #DDCDBF;
    padding-top: 75px;
}

.spacin {
    padding-right: 35px;
}

.baixacess {
    padding-top: 75px;
}

.container-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.4;
    display: flex;
}

.img {
    width: 100%;
    align-self: center;
}

.conteudo {
    position: relative;
}

.bg-form {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 275px;
    margin: 0;
    position: absolute;
    top: 15rem;
    left: 35rem;
    background-color: #161412bd;
    border: 1px solid rgb(255, 255, 255);
}

.campo {
    width: 225px;
    background-color: #16141200;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #734124;
    color: whitesmoke;
    font-family: Segoe UI;
}

.btn_submit {
    border: none;
    padding: 8px 35px;
    cursor: pointer;
    background-color: #734124;
    outline: none;
    color: white;
}

.btn_senha {
    border: none;
    padding: 8px 145px;
    cursor: pointer;
    background-color: #ffffff00;
    color: white;
}

.btn_cc {
    border: none;
    padding: 8px 35px;
    cursor: pointer;
    background-color: #ffffff00;
    color: white;
}