
/*
 adicionando as fontes usadas
*/


@font-face {
    font-family: Poiret One;
    src: url(../fonts/PoiretOne.ttf);
}
@font-face {
    font-family: Merienda;
    src: url(../fonts/Merienda.ttf);
}

.vh100 {
    background-color: #161412;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    letter-spacing: -1px;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.menu {
    font-family: Segoe UI;
    font-size: 3vh;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    color: #DDCDBF;
    padding-top: 5%;
    margin-left: 10vh;
    margin-right: 25vh;
}

.spacin {
    padding-right: 5vh;
}

.baixacess {
    padding-top: 9vh;
}

.container-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.4;
    display: flex;
}

.img {
    width: 100%;
    align-self: center;
}

.conteudo {
    position: relative;
}

.bg-form {
    padding-top: 7vh;
    padding-bottom: 4vh;
    padding-left: 4vh;
    padding-right: 1vh;
    width: 45vh;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 40%;
    display: block;
    margin-right: -50%;
    background-color: #161412e1;
    border: 1px solid #DDCDBF;
    font-family: Sagui UI;
    font-size: 2vh;
}

.campo {
    width: 90%;
    background-color: #16141200;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #734124;
    color: #DDCDBF;
}

.btn_submit {
    border: none;
    padding: 1.5vh 5vh;
    cursor: pointer;
    background-color: #734124;
    outline: none;
    color: #DDCDBF;
    font-size: 2.3vh;
}

.btn_cc {
    border: none;
    padding: 1.5vh 5vh;
    cursor: pointer;
    background-color: #ffffff00;
    color: #DDCDBF;
    font-size: 2.3vh;
}

::placeholder {
    color: #DDCDBF;
    opacity: 1;
    font-family: Segoe UI;
    font-size: 2.1vh;
}