@font-face {
	font-family: Merienda;
	src: url(../fonts/Merienda.ttf);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
    color: #ddcdbf;
}

body {
    background-color: #161412;
}

/*Header dos cafés */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 1.8rem;
    margin-left: 8rem;
    margin-bottom: 100px;
}

.sg {
    font-family: Merienda;
    color: #c28d4b;
    font-size: 2.5rem;
    border-right: 1px solid #ddcdbf;
    padding-right: 1rem;

}

.menu {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 0.6rem;
}

.menu li a {
    color: #ddcdbf;
    padding: 0.5rem;
}

/* Conteudo */

.container {
    display: flex;
    flex-direction: column;
}

.mu {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.button1 {
    align-self: center;
    margin-top: 16rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    border: none;
    background-color: #161412;
    padding: 0.8rem;
    transition: 0.2s;
}

.button1:hover {
    background-color: #c28d4b;
    transform: translatey(-5px);
}

.button1:active {
    background-color: #744924;
}

.carrinho {
    display: flex;
    flex-direction: column;
}

.produto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddcdbf;
    padding-bottom: 1rem;
    width: 100%;
}

.qp {
    display: flex;
    justify-content: flex-end;
}

.nome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    width: 15rem;
}

.quantidade span, .preco span {
    font-size: 1rem;
    margin: 0rem 5rem 0rem 5rem;
    margin-bottom: 0.2rem;
}

.quantidade p, .preco p{
    margin: 0rem 5rem 0rem 5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-align: center;
    border: 1px solid #c28d4b;
}

.lixo {
    align-self: center;
    margin-left: 2rem;
    transition: transform 1s;
}

.lixo:hover{
    transform: rotate(-360deg);
}

.carrinho {
    display: flex;
}

.finalizar {
    align-self: flex-end;
    margin-top: 0.4rem;
}

.add {
    display: flex;
    align-self: center;
    margin-top: 2rem;
}

.total {
    font-size: 1.2rem;
    align-self: flex-end;
    padding-right: 5.8rem;
}

.button2 {
    padding: 1.2rem;
    background-color: #744924;
    border: 1px solid #161412;
    transition: 0.2s;
}

.button2:hover {
    background-color: #c28d4b;
    transform: translatey(-5px);
}

.button2:active {
    background-color: #744924;
}