* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family: Poiret One;
	src: url(../fontes/PoiretOne.ttf);
}
@font-face {
	font-family: Merienda;
	src: url(../fontes/Merienda.ttf);
}

.bg {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-color: #161412;
}

.imagem-div {
	position: relative;
}

.imagem-capa {
	min-width: 100%;
	min-height: 100vh;
	height: 100vh;
	opacity: .3;
}

.sobreposicao-div {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.menu-nav {
	color: #DDCDBF;
	font-family: Segoe UI;
	padding-top: 50%;
	width: 100%;
	height: auto;
	background-color: #161412;
	opacity: .8;
	position: fixed;
	height: 100vh;
	left:-100%;
	transition: .5s;
}

.menu-nav-show{
	left: 0;
	z-index: 1;
}

.menu-l1 a, .menu-l2 a{
	display: block;
	padding: 10px 20px;
	text-align: center;
	margin-top: 40px;
	color: #DDCDBF ;
}

.menu-l1 li::after, .menu-l2 li::after{
	display:block;
	content: '';
	border-bottom: solid 1px #DDCDBF;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}
.menu-l1 li:hover::after, .menu-l2 li:hover::after {
	transform: scaleX(1);
}

#abre-menu {
	float: left;
	margin-left: 50px;
	margin-top: 10vh;
	width: 1rem;
	z-index: 1;
}

#fecha-menu {
	float: right;
	margin-right: 50px;
	margin-top: -18vh;
	z-index: 1;
}

.tst {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: calc(-10vh - 16px);
}

.titulo {
	font-family: Merienda;
	font-size: 3rem;
	align-items: center;
	color: #C28B4D;
}

.sub {
	font-family: Poiret One;
	color: #DDCDBF;
}

@media (min-width: 768px) {
	.imagem-capa {
		min-width: 100vw;
		min-height: 100vh;
	}
	.menu-nav {
		padding-top: 0;
		margin-top: 60px;
		display: flex;
		justify-content: space-around;
		background-color: transparent;
		opacity: 1;
		position: relative;
		left: 0;
		max-height: 50px;
	}
	.menu-l1 {
		cursor: default;
	}
	.menu-l1 a, .menu-l2 a{
		display: inline-block;
		padding: 10px 0 0 0;
		margin: 0 20px 0 20px;
	}
	.menu-l1 a:hover, .menu-l2 a:hover{
		cursor: pointer;
	}
	.menu-l1 li, .menu-l2 li{
		display: inline-block;
		padding-bottom: 5px;
	}
	.menu-l1 li::after, .menu-l2 li::after{
		display:block;
		content: '';
		border-bottom: solid 1px #DDCDBF;  
		transform: scaleX(0);  
		transition: transform 250ms ease-in-out;
	}
	.menu-l1 li:hover::after, .menu-l2 li:hover::after {
		transform: scaleX(1);
	}
	#abre-menu {
		display: none;
	}
	#fecha-menu {
		display: none;
	}
	.tst {
		margin-top: -90px;
	}
}