/*
 adicionando as fontes usadas
*/

@font-face {
    font-family: Poiret One;
    src: url(../fontes/PoiretOne.ttf);
}
@font-face {
    font-family: Merienda;
    src: url(../fontes/Merienda.ttf);
}

.vh100 {
    background-color: #161412;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    letter-spacing: -1px;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.menu {
    font-family: Segoe UI;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    color: #DDCDBF;
    padding-top: 70px;
}

.spacin {
    padding-right: 25px;
}

.baixacess {
    padding-top: 70px;
}

.container-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.4;
    display: flex;
}

.img {
    width: 100%;
    align-self: center;
}

.conteudo {
    position: relative;
}

.bg-form {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 10px;
    width: 22%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    display: block;
    margin-right: -50%;
    background-color: #161412bd;
    border: 1px solid azure;
}

.campo {
    width: 90%;
    background-color: #16141200;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #744924;
    font-size: 20px;
    color: white;
    font-family: Segoe UI;
}

.btn_submit {
    border: none;
    font-size: 20px;
    padding: 10px 45px;
    cursor: pointer;
    background-color: #744924;
    outline: none;
    color: white;
}

.btn_senha {
    border: none;
    font-size: 15px;
    padding: 10px 175px;
    cursor: pointer;
    background-color: #ffffff00;
    color: white;
}

.btn_cc {
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #ffffff00;
    color: white;
}