@font-face {
	font-family: Merienda;
	src: url(../fonts/Merienda.ttf);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
    color: #ddcdbf;
}

body {
    background-color: #161412;
}
.container {
    display: flex;
    flex-direction: column;
}

.mu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem 0rem 2rem;
    border-right: 1px solid #ddcdbf;
    padding-right: 1rem;
}

.user h3 {
    text-align: center;
    margin-top: 2rem;
}

.button1 {
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    border: none;
    background-color: #161412;
    padding: 0.8rem;
    transition: 0.2s;
}

.button1:hover {
    background-color: #c28d4b;
    transform: translatey(-5px);
}

.button1:active {
    background-color: #744924;
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
}

.pix {
    margin-top: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix img {
    width: 75%;
}

.voltar {
    padding: 1.2rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    background-color: #744924;
    border: 1px solid #161412;
    transition: 0.2s;
}

.voltar:hover {
    background-color: #c28d4b;
    transform: translatey(-5px);
}

.voltar:active {
    background-color: #744924;
}