* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.vh100 {
    width: 100%;
    height: 100vh;
}

.opaco {
    opacity: .8;
    background-color: #161412;
    position: absolute;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.fundo {
    position: absolute;
    width: 35rem;
    height: 15rem;
    background-color: #161412;
    opacity: .8;
}

.bloco {
    position: relative;
    width: 35rem;
    height: 15rem;
    border: #C28D4B 1px solid;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #fff;
}

.p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20%;
}

.nao {
    border: none;
    background-color: transparent;
}

.nao a{
    padding: .5rem 2rem;
    border: 1px solid #DDCDBF;
}

.claro {
    border: none;
    background-color: transparent;
}

.claro a {
    padding: .5rem 3.5rem;
    background-color: #744924;
    border: 1px solid #744924;
}